<templates>
    <!-- Navigation -->
    <nav t-name="Nav" class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <strong t-esc="profile.name"></strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#Publications">
                            <i t-attf-class="{{ profile.projects.icon }} pr-1"></i>
                            Projects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Skills">
                            <i t-attf-class="{{ profile.skills.icon }} pr-1"></i>
                            Skills
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Experience">
                            <i t-attf-class="{{ profile.experience.icon }} pr-1"></i>
                            Experience
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Education">
                            <i t-attf-class="{{ profile.education.icon }} pr-1"></i>
                            Education
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Full Page Image Header with Vertically Centered Content -->
    <header t-name="Header">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-right">
                    <div t-foreach="links" t-as="item" t-key="item.id">
                        <a t-att-href="item.url">
                            <i t-attf-class="{{ item.icon }} pr-3"></i>
                        </a>
                    </div>
                    <h1 style="font-size:4vw;">Full Stack Developer</h1>
                    <p class="lead" style="font-size:2vw;">Knowing is not enough, we must apply</p>
                </div>
            </div>
        </div>

    </header>


    <div t-name="EntryCard">
        <div class="p-3 bg-light" t-foreach="items" t-as="item" t-key="item.id">
            <h5 t-esc="item.title"></h5>
            <p t-esc="item.date"></p>
            <p t-raw="item.about"></p>
        </div>
    </div>

    <div t-name="App" class="app">
        <Nav />
        <Header />
        <EntryCard />

    </div>
</templates>