<templates>
    <!-- Navigation -->
    <nav t-name="Nav" class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <strong t-esc="profile.name"></strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#Publications">
                            <i t-attf-class="{{ profile.projects.icon }} pr-1"></i>
                            Projects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Skills">
                            <i t-attf-class="{{ profile.skills.icon }} pr-1"></i>
                            Skills
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Experience">
                            <i t-attf-class="{{ profile.experience.icon }} pr-1"></i>
                            Experience
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Education">
                            <i t-attf-class="{{ profile.education.icon }} pr-1"></i>
                            Education
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Full Page Image Header with Vertically Centered Content -->
    <header t-name="Header">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-right">
                    <t t-foreach="profile.links" t-as="link" t-key="link_index">
                        <a t-att-href="link.url">
                            <i t-attf-class="{{ link.icon }} pr-3"></i>
                        </a>
                    </t>
                    <h1 style="font-size:4vw;" t-esc="profile.title"></h1>
                    <p class="lead" style="font-size:2vw;" t-esc="profile.tag_line"></p>
                </div>
            </div>
        </div>

    </header>

    <div t-name="Section" class="col-12">
        <div class="card mt-5 mb-5" id="sec_name">
            <div class="card-header bg-success text-white" t-esc="sec_name"></div>
            <t t-raw="0" />
        </div>
    </div>

    <!-- This card is used for plain entries like publications ans experience -->
    <t t-name="PlainItemCard">
        <t t-call="Section">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col p-4" t-foreach="items" t-as="item" t-key="item_index">
                    <div class="card h-100">
                        <div t-attf-class="card-body {{ (item_index % 2 === 0) ? '': 'bg-light' }}">
                            <h5 class="card-title" t-esc="item.title"></h5>
                            <p t-esc="item.date"></p>
                            <p t-raw="item.about"></p>
                        </div>
                    </div>
                </div>
            </div>
        </t>
    </t>


    <!-- This card is used for img-text entries like tools -->
    <t t-name="ImgItemCard">
        <t t-call="Section">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col p-4" t-foreach="items" t-as="item" t-key="item_index">
                    <div class="card h-100">
                        <div t-attf-class="card-body {{ (item_index % 2 === 0) ? '': 'bg-light' }}">
                            <h5 class="card-title" t-esc="item.title"></h5>
                            <p t-esc="item.date"></p>
                            <p t-raw="item.about"></p>
                        </div>
                    </div>
                </div>
            </div>
        </t>
    </t>


    <div t-name="App" class="app">
        <Nav />
        <Header />
        <PlainItemCard />

    </div>
</templates>