header{
    height: 100vh;
    min-height: 500px;
    background-image: url('img/header_img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#title{
    font-size:4vw;
}

#tag_line{
    font-size:2vw;
}